@defer {
  <div class="row p-4">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Categories</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-categories-form
          [form]="form"
          [isEdit]="form.value.id! > 0"
          (callSaveMethod)="save($event)"
        />
      </div>
    </div>
    <div class="col-12">
      <app-categories-list
        [categoriesList]="categoryService.categories$()"
        (callEditMethod)="form.patchValue($event)"
        (callDeleteMethod)="delete($event)"
      />
    </div>
    @if(categoryService.categories$().length) {
      <app-pagination
        [service]="categoryService"
        [customCall]="false"
      />
    }
  </div>
} @loading (minimum 1.5s) {
  <app-loader/>
}