@if (isSuperAdmin) {
  <form [formGroup]="form">
    <div>
      <h2 class="mb-0">{{ isEdit ? 'Edit Category' : 'Add Category' }}</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-2">
          <label class="mb-1" for="name">Name*</label>
          <input id="name" formControlName="name" type="text" class="form-control">
          @if (form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)) {
            <p class="text-danger my-1 p-absolute">Name is required</p>
          }
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-2">
          <label class="mb-1" for="description">Description*</label>
          <input id="description" formControlName="description" type="text" class="form-control">
          @if (form.controls['description'].invalid && (form.controls['description'].dirty || form.controls['description'].touched)) {
            <p class="text-danger my-1 p-absolute">Description is required</p>
          }
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-end mt-3">
        <div class="">
          <button (click)="callSaveMethod.emit(form.value)" [disabled]="form.invalid" class="btn btn-primary" type="button">
            {{ isEdit ? 'Update' : 'Add Category' }}
          </button>
        </div>
      </div>
    </div>
  </form>
}